body{background-color: rgb(246, 230, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: x-large;
    color: rgb(115, 26, 133);}
   h1{text-align: center;}
header{background-color: rgb(238, 196, 255);}
nav{width: 200px; 
    height: 150px;
    line-height: 1.5;}
p{width: 600px;
  height:200px ;
 margin-right: 10px;}   
img{width:400px ;
 float: right;
  margin-right:300px ;}  
section{width: 70%;
        height: 200px;
        margin: 100px auto; }
article{width: 30%;
    height: 200px;
    float: left;
  padding:30px 5px 0 5px ;
  border-radius: 10px;
  margin:0 12px 30px 12px ;}    
nav li{list-style-type:none ;}